[Desktop Entry]
Version=v0.1.0
Type=Application
Name=Qrip
Comment=Simple GUI for streamrip (Qobuz)
Exec=/home/thezupzup/.local/bin/Qrip
Icon=audio-x-generic
Terminal=false
Categories=Audio;Network;

